$Gray: hsl(0, 0%, 75%);
$hoverBlack: rgb(43, 42, 42);
$DarkViolet: hsl(257, 27%, 26%);
$Cyan: hsl(180, 66%, 49%);

.cards {

    .cards-container {
        padding: 0 0 3% 0; 
        display: flex; 
        justify-content: center;
        

        .cards-wrapper {
        text-align: center;
        margin-top: 8%; 

            h2 {
                font-size: 2rem;
                padding-bottom: 2%; 
                color: $hoverBlack
            }
            p {
                font-size: 1rem;
                color: $Gray; 
            }
        }


    }

    .cards-content {
        display: flex;
        justify-content: center;
        padding-right: 7%; 
        

        .card-connector {
            content: '';
            z-index: 0;
            position: absolute; 
            background-color: $Cyan;
            height: 7px;  
            min-width: 500px; 
            margin-top: 180px; 
            
        }
       

        .card {
            z-index: 1; 
            width: 26%; 
            height: 220px; 
            padding: 3% 3% 0 3%;  
            border-radius: 5px; 
            position: relative; 
            margin: 4% 1% 4% 1%; 
            display: flex; 
            flex-direction: column;
            justify-content: flex-start;
            background-color: rgb(250, 250, 250);



            .card-title {
                font-weight: 700;
                color: $hoverBlack; 
                font-size: 1rem;
                
            }

            .card-text {
                color: $Gray;  
                font-weight: 500;
                font-size: .85rem;
                line-height: 1.3rem;
                margin-top: 7%; 
            }

            .card-icon {
                
                border-radius: 50%;
                width: 60px; 
                height: 60px; 
                position: absolute; 
                text-align: center;
                top: -30px; 
                padding-top: 4%; 
                background-color: $DarkViolet;

                img { 
                    width: 30px; 
                    height: 30px; 
                }
            }

            &:nth-child(2) {
                margin-top: 7%; 
            }

            &:nth-child(3) {
                margin-top: 10%; 
            }
        }
        
    }
    
    @media(max-width: 870px) {
        .cards-content {
            flex-direction: column;
            align-items: center;
            padding: 8% 0 5% 0; 
    
            .card {
                width: 75%; 
                align-items: center;
                justify-content: space-evenly;
                padding: 3% 4% 0 4%; 
                height: 300px; 

                .card-title {
                    font-size: 1.2rem;
                    margin-top: 5%;  
                }

                .card-text {
                    font-size: 1rem; 
                    text-align: center;
                    line-height: 1.5rem;
                }

                .card-icon {
                    height: 70px; 
                    width: 70px; 
                     
                }

                &:nth-child(2) {
                    margin-top: 6%; 
                }
    
                &:nth-child(3) {
                    margin-top: 6%; 
                }
                
            }

            .card-connector {
                display: flex; 
                align-self: center;
                transform: rotate(90deg);
                width: 700px; 
            }
        }
        
    }

    @media(max-width: 500px) {
        .cards-container {
            padding: 5% 0; 

        }
        .cards-content {
                margin-top: 5%; 
                .cards {
                    width: 100%; 
                }
            }
    }

}


