$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(257, 27%, 26%);
$GrayishViolet: hsl(257, 7%, 63%);
$Gray: hsl(0, 0%, 75%);

.link-wrapper {
    width: 100%; 
    margin: 0 auto; 
    background-color: lighten($GrayishViolet, 30%); 
    margin-top: 6%; 
    position: relative;
    padding-bottom: 5%;
    
     
.link-form-container {
    position: absolute; 
    top: -50px;
    left: 8%;  
    padding: 2.75% 3%;  
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-image: url('../../assets/bg-shorten-desktop.svg');
    background-color: $DarkViolet;
    border-radius: 6px; 

    form {
        width: 75%;  
        
        input {
            width: 100%; 
            padding: 1.5% 3%; 
            border-radius: 6px;
            border: 1px solid gray;
            font-size: 1rem;
        }
    }

    button {
        width: 20%;
        border-radius: 10px; 
        
        border: none;
        background-color: $Cyan; 
        color: white; 
        font-weight: 700; 
        font-size: 1.2rem;

        &:hover {
            background-color:lighten($Cyan, 20%);
        }
    }
}
}