$hoverBlack: rgb(43, 42, 42);
$Gray: hsl(0, 0%, 75%);
$Cyan: hsl(180, 66%, 49%);

.footer-container {
    background-color: $hoverBlack;
    height: 26vh; 
    padding: 2.5%; 
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;

    .logo-container {
        width: 10%; 

        h2 {
            font-size: 2rem;
            color: rgb(235, 235, 235); 
        }
    }

    .features-container {
        
        display: flex; 
        justify-content: flex-end;
        width: 60%; 
        padding-top: 1%; 

        .features, .resources, .company {
            width: 16%;
            display: flex;
            flex-direction: column;
            margin: 0 1%; 

           
            
            h3 {
                font-size: .8rem;
                padding-bottom: 4%; 
                margin-bottom: 4%; 
                color: white; 
            }

            a { 
                text-decoration: none; 
                color: $Gray; 
                font-size: .75rem;
                line-height: 1.55rem;
                cursor: pointer;

                &:hover {
                    color: $Cyan; 

                }
            }
        }

        
    }

    .social-media-container {
        width: 26%;
        display: flex;
        justify-content: flex-start; 
        padding-top: 1%; 


        .icon {
            width: 25px; 
            height: 25px; 
            margin: 0 3%; 
            cursor: pointer;
             
            color: white; 

            &:hover {
                color: $Cyan !important;
            }
        }
    }
    
}

@media(max-width: 870px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        height: 60vh; 

        .logo-container {
            width: 30%; 
            text-align: center;

            h2 {
                font-size: 2.75rem;
            }
        }


        .features-container {
            flex-direction: column;
            align-items: center;
            width: 100%; 

            .features, .resources, .company {
                width: 20%; 
                align-items: center;
                margin: 2%; 

                h3 {
                    margin-bottom: 1%; 
                    padding-bottom: 1%;
                    font-size: 1rem;
                }

                a {
                    margin: 1%; 
                    text-align: center;
                }
            }
        }

        .social-media-container {
            width: 30%; 
            justify-content: center;

            .icon {
                height: 35px; 
                width: 35px; 
            }
        }
    }

    @media(max-width: 450px) {
        .footer-container {
            height: 80vh; 
            justify-content: space-around;
            padding:L 1% 0; 

            .logo-container {
                width: 100%; 
                text-align: center;
                h2 {
                    width: 100%; 
                    text-align: center;
                }
            }

            .features-container {
                padding-top: 0; 
                
            h3 {
                width: 100%;
                text-align: center;
            }

        }
        }
    }
}