$Gray: hsl(0, 0%, 75%);
$Cyan: hsl(180, 66%, 49%);
$hoverBlack: rgb(43, 42, 42);

.action-call-container {
    padding: 3% 0 3% 8%; 
    overflow: hidden;
    display: flex; 
    justify-content: space-between;

    .action-call {
        width: 60%; 
        padding-top: 4%;

        h1 {
            font-size: 4.2rem;
            line-height: 5rem;
            color: $hoverBlack; 
        }

        p {
            font-size: 1.2rem;
            color: $Gray; 
            margin-bottom: 2%; 
        }

        button {
            margin-top: 2%; 
            width: 25%; 
            padding: 1.5% 2.25%; 
            border-radius: 20px;
            border: none; 
            background-color: $Cyan;
            color: white; 
            font-weight: 700;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                background-color: lighten($Cyan, 20%);
            }
        }
    }

    .action-img {
        margin-left: 3%;  
        overflow: hidden;
        

        img {
            max-height: 50vh; 
            width: 750px; 
        }
    }
}