$Gray: hsl(0, 0%, 75%);
$Cyan: hsl(180, 66%, 49%);
$hoverBlack: rgb(43, 42, 42);

.nav-container {
    padding: 3% 8%; 
    display: flex;
    justify-content: space-between;
    width: 100%; 

    .logo-container {
        width: 34%; 
        display: flex;
        justify-content: space-between;
        align-items: center;

        .features {
            width: 65%;
            display: flex;
            justify-content: space-evenly;

            a {
                margin-bottom: 1%; 
                text-decoration: none;
                font-size: 0.83rem; 
                color: $Gray; 
                font-weight: 600; 
                cursor: pointer;

                &:hover {
                    color: $hoverBlack ; 
                }
            }
        }

        @media(max-width:700px) {

            .features {
                display: none; 
            }
        }
    }
    
    .login-container {
        width: 20%; 
        display: flex; 
        justify-content: space-evenly;
        align-items: center;

        a {
            text-decoration: none;
            font-size: 0.83rem; 
            color: $Gray; 
            font-weight: 600;
            width: 35%; 
            text-align: center;
            cursor: pointer;

            &:hover {
                color: $hoverBlack; 
            }

            &:last-child {
                padding: 3% 5%; 
                border-radius: 17px;
                background-color: $Cyan;
                color: white; 

                &:hover {
                  background-color:lighten($Cyan, 20%);
                }
            }
        }
    }

    .toggled-login-container {
        display: none; 

        
    }
    .toggle-button {
        display: none; 
    }


    @media(max-width: 999px) {
    
        .logo-container {
            width: 60%; 
        }    

        .login-container {
            width: 35%; 
        }
      
  }

  @media(max-width: 700px) {

    .logo-container {
        align-items: flex-start;
    }

    .login-container {
        display: none; 
    }

    .toggle-container {
        width: 25%; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        


        .toggled-items-container {
        display: flex; 
        flex-direction: column;
        width: 100%; 
        align-items: center;
        border: 1px solid rgba(128, 128, 128, 0.651); 

        a {
            font-size: 1rem;
            text-decoration: none;
            color: $Gray; 
            padding: 1% 0; 
            border-bottom: 1px solid  rgba(128, 128, 128, 0.651);
            text-align: center;
            width: 100%; 

            &:last-child {
                border-bottom: none; 
                text-align: center;
                width: 100%; 
            }
        }
       
    }
        .toggle-button {
                color: $Gray; 
                display: flex;
                vertical-align: middle;
                width: 40px; 
                height: 35px;
                margin-bottom: 2%;  

            }
    }

    

    

  }
}



