$Gray: hsl(0, 0%, 75%);
$Cyan: hsl(180, 66%, 49%);
$hoverBlack: rgb(43, 42, 42);

.nav-container {
    padding: 3% 8%; 
    display: flex;
    justify-content: space-between;
    width: 100%; 

    .logo-container {
        width: 34%; 
        display: flex;
        justify-content: space-between;
        align-items: center;

        .features {
            width: 65%;
            display: flex;
            justify-content: space-evenly;

            a {
                margin-bottom: 1%; 
                text-decoration: none;
                font-size: 0.83rem; 
                color: $Gray; 
                font-weight: 600; 
                cursor: pointer;

                &:hover {
                    color: $hoverBlack ; 
                }
            }
        }
    }
    
    .login-container {
        width: 20%; 
        display: flex; 
        justify-content: space-evenly;
        align-items: center;

        a {
            text-decoration: none;
            font-size: 0.83rem; 
            color: $Gray; 
            font-weight: 600;
            width: 35%; 
            text-align: center;
            cursor: pointer;

            &:hover {
                color: $hoverBlack; 
            }

            &:last-child {
                padding: 3% 5%; 
                border-radius: 17px;
                background-color: $Cyan;
                color: white; 

                &:hover {
                  background-color:lighten($Cyan, 20%);
                }
            }
        }
    }

    @media(max-width: 999px) {
    
        .logo-container {
            width: 60%; 
        }    

        .login-container {
            width: 35%; 
        }
      
  }
}



