$DarkViolet: hsl(257, 27%, 26%);
$Cyan: hsl(180, 66%, 49%);

.boost-links-container { 
    padding: 4% 0 2% 0; 
    height: 25vh; 
    background-image: url('../../assets/bg-boost-desktop.svg');
    background-color: $DarkViolet;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: white; 
        font-size: 3rem;
        margin-bottom: 1%;
    }

    button {
        width: 20%;
        padding: 1% 0;  
        border-radius: 18px;
        border: none; 
        color: white; 
        background-color: $Cyan;
        font-weight: 700;
        font-size: 1.25rem; 
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        &:hover {
            background-color:lighten($Cyan, 20%);
        }
    }

    @media(max-width: 870px) {



        button {
            width: 40%; 
            padding: 1.5% 0;
            border-radius: 25px; 
        }
    
    }
    @media(max-width: 550px) {
        h2 {
            width: 80%; 
            font-size: 2.25rem;
            padding: 2% 0; 
            text-align: center;
        }
        button {
            padding: 2.5% 0 ; 
        }
    }

}

@media(max-width: 870px) {
    .boost-links-container {
        height: 22vh; 
    }
}

